server:
  port: 8761

spring:
  security:
    user:
      name: ${GODFATHER_USER}
      password: ${GODFATHER_PASSWORD}
  cloud:
    config:
      server:
        prefix: /config
        git:
          uri: ${CONFIG_GIT}
          clone-on-start: true
          username: ${GIT_USER}
          password: ${GIT_PASS}
          default-label: master

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized
      show-components: when_authorized
    metrics:
      enabled: true
  info:
    env:
      enabled: true


eureka:
  server:
    renewalPercentThreshold: 0.9
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
    healthcheck:
      enabled: true
